<h1>User#forgot_password</h1>
<p>Find me in app/views/user/forgot_password.html.erb</p>

<%= start_form_tag :action=>'forgot_password'%>

<h3>Forgotten password</h3>

Email: <%= text_field "user","email" %><br/>

<%= submit_tag 'Email password' %>

<%= end_form_tag %>